#navlink > .innercontents {
  font-size: calc(100vh - 98vh) !important;
  text-decoration: none !important;
  text-align: center !important;
  width: calc(100hw - 95hw);
  height: calc(100vh - 98vh);
  padding: calc(100vh - 98vh);
  background-color: rgba(128,128,128,0.3);
  border-radius: calc(100vh - 98vh);
  text-align: center;
}

#listOfUrls td {
  min-width: calc(100hw - 80hw);
  padding: 2vh;
}

#listOfUrls:nth-child(odd) {
  background-color: rgba(128,128,128, 0.3);
}

td{
  min-width: calc(100hw - 80hw);
}

.content {
  min-height: calc(100vh - 2vh);
}

.footer {
  min-height: calc(100vh - 98vh);
}