<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <header th:replace="fragments/header"></header>
</head>
<body>
    <div th:replace="fragments/navbar"></div>
    <div class="content">
        <table>
            <thead>
            </thead>
            <tbody>
                <tr th:if="${urllist.empty}">
                    <td colspan="2"> No Records found that match search parameters</td>
                </tr>
                <tr th:each="url : ${urllist}" id="listOfUrls">
                    <td><a th:text="${url.longURL}"27> Long URL </a></td>
                    <td><a th:text="${url.shortURL}" th:href="@{${url.shortURL}}"27> Short URL </a></td>
                    <td><a text="Update" th:href="@{/update(longURL=${url.longURL})}"> Update </a></td>
                    <td><a text="Delete" th:href="@{/delete(longURL=${url.longURL}, shortURL=${url.shortURL})}"> Delete </a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <footer th:replace="fragments/footer"></footer>
</body>
</html>