<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <header th:replace="fragments/header"></header>
</head>
<body>
    <div th:replace="fragments/navbar"></div>
    <div class="content">
        <h1>Update a Tiny URL</h1>
        <form action="#" th:action="@{/updateaurl(longURL=${longURL})}" th:object="${urlAddress}" method="post">
            <table>
                <tbody>
                <tr>
                    <td>Original URL:</td>
                    <td><a th:text="${longURL}" 27> Long URL </a></td>
                </tr>
                <tr>
                    <td>Tiny URL:</td>
                    <td><input type="text" th:field="*{shortURL}" /></td>
                </tr>
                </tbody>
            </table>
            <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
        </form>
    </div>
    <footer th:replace="fragments/footer"></footer>
</body>
</html>